<hr>
<% @my_bookings.each do |booking| %>
  <% if booking.status.split(' ')[0] == "cancelled" || booking.status == "performed" %>
    <div class="card-product card-disable">
      <%= cl_image_tag booking.performance.photo %> 
      <div class="card-product-infos">
        <h2><%= link_to "#{booking.performance.title}", performance_path(booking.performance.id) %></h2>
        <p><%= booking.performance.description %> </p>
        <p><strong>Date : </strong><%=booking.start.to_time.strftime('%d-%m-%y')%> at <%=booking.end.to_time.strftime('%d-%m-%y')%></p>
      </div>
      <div class="card-product-status text-center">
        <% if booking.status == "payed" %>
          <%= simple_form_for booking, :url => booking_path(booking.id), :method => :PATCH do |f| %>
            <%= f.hidden_field :status, value: "performed"%>
            <%= f.submit "Performed", class: "btn-profile-card btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
        <% if booking.status == "waiting for payment" %>
          <%= simple_form_for booking, :url => booking_path(booking.id), :method => :PATCH do |f| %>
            <%= f.hidden_field :status, value: "payed"%>
            <%= f.submit "Payed", class: "btn-profile-card btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
        <% if booking.status == "on demand" || booking.status.split(' ')[0] == "cancelled" || booking.status == "performed"%>
          <p><strong><%= booking.status.capitalize %></strong></p>
        <% end %>
        <% if booking.status.split(' ')[0] != "cancelled" && booking.status != "performed" %>
          <%= simple_form_for booking, :url => booking_path(booking.id), :method => :PATCH do |f| %>
            <%= f.hidden_field :status, value: "cancelled by user"%>
            <%= f.submit "Cancel", class: "btn-profile-card btn btn-danger btn-sm" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>