<div class="container">
  <h1>Show</h1>
  <%= @booking.performance.title %> status <%= @booking.status %>

  <% if @booking.status != "Validate" || @booking.status != "Refuse by performer"%>
    <%= simple_form_for([@performance, @booking]) do |f| %>
      <%= f.hidden_field :status, value: "Canceled by user"%>
      <%= f.submit "Cancel performance", class: "btn btn-danger" %>
    <% end %>
  <% end %>

  <% if @booking.status == "Waiting payment"%>
    <%= simple_form_for([@performance, @booking]) do |f| %>
      <%= f.hidden_field :status, value: "Paye"%>
      <%= f.submit "Pay", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if @booking.status == "Payed" %>
    <%= simple_form_for([@performance, @booking]) do |f| %>
      <%= f.hidden_field :status, value: "Validate"%>
      <%= f.submit "Validé la performance", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>


