<div id="banner-home" class="banner-home" style = "background-image: url(<%= image_path("home6.jpg") %>)">
  <%# Change text in banner.js %>
  <h1 id="banner-typed-text">	&nbsp;</h1>
  <div class="text-center banner-go">
    <a href="#sectionOne">Select our talents<br><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
<div class="container" id="sectionOne">
  <h1 class="title-home text-center">Choose from <%=  @performances.size %> experience </h1>
  <div class="row">
    <% @performances.each do |performance| %>
      <div class="cards col-sm-4 col-xs-12">
        <div class="card">
        <% p cl_image_path(performance.photo) unless performance.photo.blank?%>
          <div class="card-content" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path(performance.photo) unless performance.photo.blank?%>)">
            <span class="btn btn-warning btn-sm card-content-tag"><%= performance.category.name %></span>
            <div class="card-content-title"><%= performance.title %></div>
            <a href="<%= performance_path(performance) %>" class="card-content-link"></a>
          </div>
          <div class="card-footer">
          <% if performance.profile.avatar_url %>
            <%= cl_image_tag(performance.profile.avatar_url, 
                 :width => 50, :height => 50, 
                 :crop => :thumb, :gravity => :face, :radius => 50, class:"card-footer-avatar") %>      
          <% else %>        
            <%= image_tag("avatar2.png", class:"card-footer-avatar") %> 
          <%end%>

            <div class="card-footer-middle">
              <h2><%= performance.profile.first_name %></h2>
              <p><%= performance.profile.address_city %></p>
            </div>
            <div class="card-footer-price">
            <b> <%= performance.hour_price ? performance.hour_price : "-"%>  €</b>/hour
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: 'delete' %>
  </div>
</div>