<div class="banner-home" style = "background-image: url(<%= image_path("home.jpg") %>)">
  <%# Change text in banner.js %>
  <h1 id="banner-typed-text">	&nbsp;</h1>
</div>
<div class="container">
  <h1 class="tite-home text-center">Choose your experience :</h1>
  <div class="row">
    <% @performances.each do |performance| %>
      <div class="cards col-sm-4 col-xs-12">
        <div class="card">
          <div class="card-content" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path("background-card.jpg") %>)">
            <span class="btn btn-warning btn-sm card-content-tag"><%= performance.category.name %></span>
            <div class="card-content-title"><%= performance.title %></div>
            <a href="<%= performance_path(performance) %>" class="card-content-link"></a>
          </div>
          <div class="card-footer">
            <%= image_tag("avatar.png", class:"card-footer-avatar") %> 
            <div class="card-footer-middle">
              <h2><%= performance.profile.first_name %></h2>
              <p><%= performance.profile.address_city %></p>
            </div>
            <div class="card-footer-price">5€</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>