<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-md-3">
      <h1>Create a new performance</h1>
      <%= simple_form_for [@profile, @performance] do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :image_url %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :category_id, collection: Category.all %>
        <%= f.submit "add a performance", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>