<div class="banner-performance" style = "background-image: url(<%= image_path("background-card.jpg") %>)">
</div>
<div class="container relat">
  <div class="container abso">
    <div class="row">
      <div class="col">
        <div class="title-image-performance-card">
            <%= cl_image_tag @performance.photo, height: 300, width: 400, crop: :fill  %>
            <div class="text-left">
              <h1><%= @performance.title %></h1>
              <h3>Catégorie : <%= @performance.category.name %></h3>
              <p><%=  @performance.description %></p>
              <% unless @distance == 0 %>
                <p> à <%= @distance.round(1) %> kms</p>
              <% end %>
              <p> <%= @performance.hour_price %> € per hour</p>


              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Desactivate performance</label>
              </div>

            </div>
        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="row">

          <%= simple_form_for @booking, html: {class: 'form-inline'}, :url => profile_performance_booking_index_path(current_user.profile.id, @performance.id), :method => :POST do |f| %>
            <div class="col-sm-4">
            <%= f.input :start, as: :string%>
            </div>
            <div class="col-sm-4 offset-sm-1">
            <%= f.input :end, as: :string %> 
            </div>
            <div class="col-sm-2 offset-sm-1">
            <%= f.submit "Booking" %>
            </div>
          <% end %>

      </div>
    </div>

  </div>
  <div id="dates" data-list="<%=@dates_booked_array.to_json%>"></div>
</div>